* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  height: 150vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 5.5rem;
  box-shadow: 0.5px 0.15px;
}
.netflix-logo {
  opacity: 1;
  height: 11rem;
  width: 10.5rem;
  margin-left: 3rem;
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 10;
}
.header-sign-out {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-right: 2.3rem;
  margin-top: 1.4rem;
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.header-sign-out:hover {
  text-decoration: underline;
}
.box {
  margin-top: 3rem;
  margin-left: 28.5rem;
  height: 27rem;
  width: 30rem;
}
.box-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-top: 1.2rem;
  font-weight: 500;
  text-align: left;
}
.box-heading {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: rgb(52, 51, 51);
  text-align: left;
}
.BOX-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 20px;
  color: rgb(62, 61, 61);
  margin-top: 0.7rem;
  width: 29rem;
}
.email {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 18px;
  color: rgb(62, 61, 61);
  margin-top: 1rem;
}
.mail {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 500;
}
.BOX {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.BOX input[type="password"]::placeholder {
  color: rgb(49, 48, 48);
  font-size: 18px;
  font-weight: 500;
}
#password {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  position: relative;
  z-index: 10;
  display: block;
  margin-top: 0.8rem;
  width: 29rem;
  font-size: 16px;
  padding: 1.3rem;
  border-radius: 0.3rem;
  border: 0.13rem solid rgb(115, 115, 115);
  background-color: white;
  color: black;
  margin-bottom: 1rem;
}
.form-anchor {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.form-anchor:hover {
  text-decoration: underline;
}
#sign-in-button {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  opacity: 1;
  position: relative;
  z-index: 10;
  display: block;
  margin-top: 1rem;
  width: 29rem;
  padding: 1.3rem;
  border-radius: 0.3rem;
  color: rgb(255, 255, 255);
  background-color: red;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
}
.last-content {
  margin-top: 12rem;
  background-color: rgb(157, 155, 155);
  height: 14.5rem;
}
.netflix-para3 {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  z-index: 10;
  margin-left: 4rem;
  padding-top: 2rem;
}
.netflix-contactno {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  z-index: 10;
}
.content3-dummy-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 4rem;
  margin-top: 2rem;
  width: 60rem;
}
.content3-box1 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 13px;
}
.content3-anchor {
  color: rgb(0, 0, 0);
  z-index: 10;
}
.netflix-main-button {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  margin-top: 1.5rem;
  margin-left: 4rem;
  position: relative;
  z-index: 10;
}
.netflix-main-button1 {
  border-radius: 0.3rem;
  border: none;
  background-color: black;
}
.LANGUAGE {
  color: black;
  font-weight: 500;
  padding: 0.8rem;
  padding-right: 3.5rem;
  font-size: 15px;
  border-radius: 0.1rem;
  background-color: rgb(151, 151, 151);
}
