* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  height: 150vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 5.5rem;
  box-shadow: 0.5px 0.15px;
}
.netflix-logo {
  opacity: 1;
  height: 11rem;
  width: 10.5rem;
  margin-left: 3rem;
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 10;
}
.header-sign-out {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-right: 2.3rem;
  margin-top: 1.4rem;
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.header-sign-out:hover {
  text-decoration: underline;
}
.box {
  margin-top: 6.2rem;
  margin-left: 27rem;
  height: 27rem;
  width: 30rem;
}
.dummy-box {
  margin-top: 5px;
  border: 2px solid red;
  height: 55px;
  width: 55px;
  border-radius: 5rem;
  margin-left: 13.5rem;
}
.dummy-box-para {
  height: 1.8rem;
  height: 1.8rem;
  margin-left: 0.67rem;
  margin-top: 0.67rem;
}
.box-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.box-heading {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: black;
  text-align: center;
  width: 30rem;
}
.dummy-box2 {
  margin-top: 1.4rem;
  width: 19rem;
}
.BOX {
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: center;
  width: 30rem;
}
.BOX-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 19px;
  color: rgb(62, 61, 61);
  margin-bottom: 1rem;
}
.BOX-dummy-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 19px;
  color: black;
  font-weight: 500;
}
#button {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.6rem;
  margin-top: 0.7rem;
  width: 28rem;
  margin-left: 1.3rem;
  color: black;
  font-weight: 700;
  background: rgba(114, 114, 114, 0.3);
  border: none;
  cursor: pointer;
  padding: 0.8rem 0rem;
  border-radius: 5px;
}
.last-content {
  margin-top: 10rem;
  background-color: rgb(157, 155, 155);
  height: 14.5rem;
}
.netflix-para3 {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  z-index: 10;
  margin-left: 4rem;
  padding-top: 2rem;
}
.netflix-contactno {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  z-index: 10;
}
.content3-dummy-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 4rem;
  margin-top: 2rem;
  width: 60rem;
}
.content3-box1 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 13px;
}
.content3-anchor {
  color: rgb(0, 0, 0);
  z-index: 10;
}
.netflix-main-button {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  margin-top: 1.5rem;
  margin-left: 4rem;
  position: relative;
  z-index: 10;
}
.netflix-main-button1 {
  border-radius: 0.3rem;
  border: none;
  background-color: black;
}
.LANGUAGE {
  color: black;
  font-weight: 500;
  padding: 0.8rem;
  padding-right: 3.5rem;
  font-size: 15px;
  border-radius: 0.1rem;
  background-color: rgb(151, 151, 151);
}
