* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  height: 150vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 5.5rem;
  box-shadow: 0.5px 0.15px;
}
.netflix-logo {
  opacity: 1;
  height: 11rem;
  width: 10.5rem;
  margin-left: 3rem;
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 10;
}
.header-sign-out {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-right: 2.3rem;
  margin-top: 1.4rem;
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.header-sign-out:hover {
  text-decoration: underline;
}
.box {
  margin-top: 3rem;
  margin-left: 27rem;
  height: 27rem;
  width: 30rem;
}
.dummy-box {
  margin-top: 5px;
  border: 2px solid red;
  height: 45px;
  width: 45px;
  border-radius: 5rem;
  margin-left: 13.5rem;
}
.dummy-box-para {
  color: red;
  margin-top: 2px;
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
}
.BOX1 {
  width: 30rem;
}
.box-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-top: 3.2rem;
}
.box-heading {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 600;
  font-size: 33px;
  text-align: center;
  width: 20rem;
  margin-left: 5rem;
  color: rgb(55, 55, 55);
}
.BOX2 {
  width: 30rem;
}
.box2-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-top: 0.7rem;
  font-size: 19.5px;
  text-align: center;
}
.BOX3 {
  width: 17rem;
  margin-left: 6.3rem;
}
.box3-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-top: 0.7rem;
  font-weight: 600;
  font-size: 20.5px;
  text-align: center;
}
.BOX4 {
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-top: 1rem;
  width: 31rem;
}
.box4-para {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 14px;
  margin-left: 20.77rem;
  margin-top: 2px;
}
.BOX5 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}
#box5-button1 {
  width: 31rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(181, 181, 181);
  padding: 1.1rem 1rem;
  margin-top: 3px;
  border-radius: 7px;
}
.box5-dummy1 {
  display: flex;
  justify-content: space-around;
  gap: 4px;
}
.box5-para1 {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 15px;
}
.box5-para2 {
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
}
#box5-button2 {
  width: 31rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(181, 181, 181);
  padding: 1.1rem 1rem;
  margin-top: 3px;
  border-radius: 7px;
}
.last-content {
  margin-top: 12.7rem;
  background-color: rgb(157, 155, 155);
  height: 14.5rem;
}
.netflix-para3 {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  z-index: 10;
  margin-left: 4rem;
  padding-top: 2rem;
}
.netflix-contactno {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  z-index: 10;
}
.content3-dummy-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 4rem;
  margin-top: 2rem;
  width: 60rem;
}
.content3-box1 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 13px;
}
.content3-anchor {
  color: rgb(0, 0, 0);
  z-index: 10;
}
.netflix-main-button {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  margin-top: 1.5rem;
  margin-left: 4rem;
  position: relative;
  z-index: 10;
}
.netflix-main-button1 {
  border-radius: 0.3rem;
  border: none;
  background-color: black;
}
.LANGUAGE {
  color: black;
  font-weight: 500;
  padding: 0.8rem;
  padding-right: 3.5rem;
  font-size: 15px;
  border-radius: 0.1rem;
  background-color: rgb(151, 151, 151);
}
